<div class="modal-container modal-content column gap-8 text-align-left">
    <div class="column align-start container-icon">
        <mat-icon class="svg-icon close primary-gray to-point" svgIcon="close" matDialogClose></mat-icon>
        <div class="container-warning-icon centered">
            <mat-icon class="svg-icon primary-red-600" [svgIcon]="data.icon ?? 'alert-circle'"></mat-icon>
        </div>
    </div>
    <strong class="primary-dark fw-700 fs-20">{{ data.title | translate }}</strong>
    <span class="primary-gray fw-400 fs-16">{{ data.subtitle | translate }}</span>
    <div class="cotainer-buttons centered gap-20 margin-top-30">
        <button class="btn doutline wth-100" matDialogClose>{{ data.declineBtn ?? 'button.cancel' | translate }}</button>
        <button class="btn dark-shade wth-100" (click)="close()">
            {{ data.confirmBtn ?? 'button.confirm' | translate }}
        </button>
    </div>
</div>