<div class="password-modal-container modal-content column gap-20">
    <div class="between">
        <span class="primary-dark fw-700 fs-20">{{ 'password.modal.title' | translate }}</span>
        <mat-icon class="svg-icon primary-gray to-point" svgIcon="close" matDialogClose></mat-icon>
    </div>
    <div class="form">
        <form [formGroup]="form">
            <mat-horizontal-stepper [linear]="true" #stepper animationDuration="500">
                <!-- Step 1 Form Forgot -->
                <mat-step [editable]="true">
                    <div class="form forgot">
                        <div class="input-container">
                            <label class="label-dark">{{ 'label.email' | translate }}</label>
                            <input class="input-fill-default" formControlName="email"
                                [placeholder]="'placeholder.email' | translate" type="email"
                            >
                            <span class="error-hint" *ngIf="showError('email') && form?.controls?.email?.value">{{ 'errorHint.email' | translate }}</span>
                            <span class="error-hint" *ngIf="formInputTouched('email') && !form?.controls?.email?.value">{{ 'errorHint.mandatory' | translate }}</span>
                        </div>
                        <div class="cotainer-buttons centered gap-20 margin-top-50">
                            <button class="btn doutline wth-100" matDialogClose>{{ 'button.cancel' | translate }}</button>
                            <button class="btn dark-shade wth-100" (click)="send()"
                                [disabled]="!form.valid || loading">{{ 'button.send' | translate }}
                            </button>
                        </div>
                    </div>
                </mat-step>
                <!-- Step 2 Success -->
                <mat-step [editable]="true">
                    <div class="form forgot">
                        <div class="input-container margin-bottom-20" *ngIf="this.currentStepperIndex === 1">
                            <label class="label-dark">{{ 'label.code' | translate }}</label>
                            <input class="input-fill-default" formControlName="code" OnlyNumbers
                                [placeholder]="'placeholder.code' | translate" type="numeric" maxlength="6">
                            <span class="error-hint" *ngIf="showError('code') && form?.controls?.code?.value">
                                {{ 'errorHint.code' | translate }}
                            </span>
                            <span class="error-hint" *ngIf="formInputTouched('code') && !form?.controls?.code?.value">
                                {{ 'errorHint.mandatory' | translate }}
                            </span>
                        </div>
                        <app-password-strength (onFunctionCalled)="updatePasswordForm($event)" [darkMode]="true"></app-password-strength>
                        <div class="cotainer-buttons centered gap-20 margin-top-50">
                            <button class="btn doutline wth-100" matDialogClose>{{ 'button.cancel' | translate }}</button>
                            <button class="btn dark-shade wth-100" (click)="reset()"
                                [disabled]="!formPassword || !formPassword.valid || !form.valid || loading">
                                {{ 'button.reset' | translate }}
                            </button>
                        </div>
                    </div>
                </mat-step>
            </mat-horizontal-stepper>
        </form>
    </div>
</div>
<mat-progress-spinner *ngIf="loading" class="spinner" [mode]="'indeterminate'"></mat-progress-spinner>