@use './../../../../assets/styles/variables.scss' as v;
@use './../../../../assets/styles/mixins.scss' as mix;
@use './../../../../assets/styles/common-classes.scss';

.password-modal-container {
    display: flex;
    flex-direction: column;
    padding: 22px;

    mat-icon {
        margin-left: auto;
    }

    .input-fill-default:not(:hover) {
        border: 1px solid v.$medium-active;
    };
}

::ng-deep .custom-modal.password-modal mat-dialog-container div.mdc-dialog__container div.mdc-dialog__surface {
    height: auto;
    width: 580px;
}