@use './../../../../assets/styles/variables.scss' as v;
@use './../../../../assets/styles/mixins.scss' as mix;
@use './../../../../assets/styles/common-classes.scss';
@use './../../../../assets/styles/material-component.scss';

.modal-container {
    overflow: hidden;
    padding: 8px;

    .img-token-small {
        width: 20px;
        height: 20px;
        min-width: 20px;
        min-height: 20px;
    }

    .modal-full-content {
        overflow: auto;
        padding: 22px;
    }

    .radio-group {
        gap: 100px;

        @include mix.mq("phone-wide", max) {
            gap: 20px;
            flex-wrap: wrap;
        }
    }
}

::ng-deep.img-token-small {
    width: 20px;
    height: 20px;
    min-width: 20px;
    min-height: 20px;
    object-fit: scale-down;
}

::ng-deep .custom-modal.charge-modal mat-dialog-container div.mdc-dialog__container div.mdc-dialog__surface {
    height: auto;
    width: 580px;
    overflow-y: auto;
}