
<form [formGroup]="formPassword" [ngClass]="{ 'dark-mode' : darkMode }">
    <div class="input-container icon-suffix">
        <label>{{ 'label.password' | translate }}</label>
        <mat-icon class="suffix primary-gray to-point" (click)="showPassword = !showPassword">
            {{ showPassword ? 'visibility' : 'visibility_off' }}
        </mat-icon>
        <input class="input-fill-default" maxlength="20" formControlName="password"
            [type]="showPassword ? 'text' : 'password'" [placeholder]="'placeholder.password' | translate"
            autocomplete="false" required
        >
        <span class="error-hint">
            <ng-container *ngIf="showError('password', formPassword) && formPassword.get('password')?.hasError('required')">
                {{ 'errorHint.mandatory' | translate }}
            </ng-container>
        </span>
    </div>
    <div class="prerequisites-container column margin-top-10">
        <span>{{ 'passwordStrength.passwordContain' | translate }}:</span>
        <div class="prerequisites column gap-8">
            <div class="requirement-row inline gap-8" [class.requirement-met]="prerequisites.hasMinChars" [class.requirement-unmet]="!prerequisites.hasMinChars">
                <mat-icon class="requirement-icon">{{ prerequisites.hasMinChars ? 'check_circle' : 'cancel' }}</mat-icon>
                <span>{{ 'passwordStrength.eigthToTwentyChars' | translate }}</span>
            </div>
            <div class="requirement-row inline gap-8" [class.requirement-met]="prerequisites.noHasUpperCase" [class.requirement-unmet]="!prerequisites.noHasUpperCase">
                <mat-icon class="requirement-icon">{{ prerequisites.noHasUpperCase ? 'check_circle' : 'cancel' }}</mat-icon>
                <span>{{ 'passwordStrength.upperChar' | translate }}</span>
            </div>
            <div class="requirement-row inline gap-8" [class.requirement-met]="prerequisites.noHasLowerCase" [class.requirement-unmet]="!prerequisites.noHasLowerCase">
                <mat-icon class="requirement-icon">{{ prerequisites.noHasLowerCase ? 'check_circle' : 'cancel' }}</mat-icon>
                <span>{{ 'passwordStrength.lowerChar' | translate }}</span>
            </div>
            <div class="requirement-row inline gap-8" [class.requirement-met]="prerequisites.noHasNumbers" [class.requirement-unmet]="!prerequisites.noHasNumbers">
                <mat-icon class="requirement-icon">{{ prerequisites.noHasNumbers ? 'check_circle' : 'cancel' }}</mat-icon>
                <span>{{ 'passwordStrength.number' | translate }}</span>
            </div>
            <div class="requirement-row inline gap-8" [class.requirement-met]="prerequisites.noHasSpecialChars" [class.requirement-unmet]="!prerequisites.noHasSpecialChars">
                <mat-icon class="requirement-icon">{{ prerequisites.noHasSpecialChars ? 'check_circle' : 'cancel' }}</mat-icon>
                <span>{{ 'passwordStrength.specialChars' | translate }}</span>
            </div>
        </div>
    </div>
    <div class="input-container icon-suffix">
        <label>{{ 'passwordStrength.confirmPassword' | translate }}</label>
        <mat-icon class="suffix primary-gray to-point" (click)="showConfirmPassword = !showConfirmPassword">
            {{ showConfirmPassword ? 'visibility' : 'visibility_off' }}
        </mat-icon>
        <input class="input-fill-default" maxlength="20" formControlName="confirmPassword"
            [type]="showConfirmPassword ? 'text' : 'password'" [placeholder]="'placeholder.password' | translate"
            autocomplete="false" required
        >
        <span class="error-hint">
            <ng-container *ngIf="showError('confirmPassword', formPassword) && formPassword.get('confirmPassword')?.hasError('required')">
                {{ 'errorHint.mandatory' | translate }}
            </ng-container>
            <ng-container *ngIf="formPassword?.hasError('mismatchedPasswords')">
                {{ 'passwordStrength.matchPassword' | translate }}
            </ng-container>
        </span>
    </div>
</form>