@use './../../../../assets/styles/variables.scss' as v;
@use './../../../../assets/styles/common-classes.scss';

.form {
    padding: 0 !important;
    width: 100% !important;
    min-width: 100% !important;
    max-width: 100% !important;
}

.prerequisites {
    flex-wrap: wrap;
    max-width: calc(100% - 90px);
    align-items: flex-start;
}

.requirement-row {
    align-items: center;
    font-size: 14px;
    transition: color 0.2s ease;

    .requirement-icon {
        font-size: 20px;
        width: 20px;
        height: 20px;
    }

    &.requirement-met {
        color: v.$green-800;

        .requirement-icon {
            color: v.$green-800;
        }
    }

    &.requirement-unmet {
        color: v.$red-600;

        .requirement-icon {
            color: v.$red-600;
        }
    }
}

.dark-mode {
    @extend .primary-dark;

    .input-fill-default:not(:hover) {
        border: 1px solid v.$medium-active;
    };

    .prerequisites {
        margin-bottom: 20px;
    }
}