$custom-color-primary: #212121;
$custom-color-secondary: #212121;
$custom-color-gradient-left-header: #212121;
$custom-color-gradient-right-header: #212121;
$custom-white-theme: ''; // We just need to uncomment this line to have the white theme deployed
$custom-background-color: #ECEFF1;;