@use './../../../assets/styles/common-classes.scss';
@use './../../../assets/styles/variables.scss' as v;
@use './../../../assets/styles/material-component.scss';
@use './../../../assets/styles/mixins.scss' as mix;

:host {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;

    .header-page {
        padding: 32px;
        position: absolute;
        top: 0;

        @include mix.mq("tablet", max) {
            top: 50px !important;
        }
    }

    .detailing {
        @include mix.mq("tablet", max) {
            gap: 20px  !important;
        }
    }

    .resp-menu-mobile {
        position: absolute;
        margin-bottom: 30px;
        top: 32px;
        right: 32px;
    }

    .product-banner-container {
        height: 300px;
        min-height: 200px;
        background: v.$dark;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        position: relative;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .marketplace-product-container {
        padding: 20px;
        margin-top: -56px;
        z-index: 1;
        align-items: flex-start !important;

        @include mix.mq("phone-wide", max) {
            padding: 32px 10px;
        }

        .asset-img {
            min-width: 217px;
            min-height: 217px;
            width: 217px;
            height: 217px;
            object-fit: cover;
            border-radius: 9px;
        }

        .input-container {
            max-width: 400px;
        }

        .marketplace-product-content {
            @include mix.mq("phone-wide", max) {
                flex-direction: column !important;
                align-items: center !important;
            }
        }

        .filters {
            @include mix.mq("phone-wide", max) {
                justify-content: flex-end !important;
            }
        }

        .responsive-column {
            @include mix.mq("phone-wide", max) {
                flex-direction: column;
            }
        }
    }

    .custom-margin {
        margin: 15px 0;
    }

    .circular-min-img {
        width: 40px;
        height: 40px;
        max-width: 40px;
        min-width: 40px;
        object-fit: cover;
        border-radius: 50%;
    }

    .content-ellipsis {
        max-width: 250px; 
        white-space: nowrap !important;
        overflow: hidden; 
        text-overflow: ellipsis;

        span {
            white-space: nowrap !important;
            overflow: hidden;
            text-overflow:
            ellipsis;
            display: block;
            max-width: 100%;
        }
    }

    .btn {
        &.see-more {
            width: 150px;
        }
    }

    .low-high-container {
        padding: 2px 8px;
        border-radius: 16px;
        height: fit-content !important;
        min-width: 50px;

        .low-high-icon {
            @include mix.iconSize(12px, true);
        }
    }
}