<nav class="bottom-nav">
    <a routerLink="/crowdfunding" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="item">
        <mat-icon class="svg-icon" svgIcon="rocket"></mat-icon>
        <span>Oportunidades</span>
    </a>
    <a routerLink="/marketplace" routerLinkActive="active" class="item">
        <mat-icon class="svg-icon" svgIcon="shopping-cart"></mat-icon>
        <span>Marketplace</span>
    </a>
    <a routerLink="/wallet" routerLinkActive="active" class="item">
        <mat-icon class="svg-icon" svgIcon="wallet"></mat-icon>
        <span>Wallet</span>
    </a>
    <a routerLink="/income-report" routerLinkActive="active" class="item">
        <mat-icon class="svg-icon" svgIcon="charge"></mat-icon>
        <span>Informe</span>
    </a>
    <a routerLink="/indications" routerLinkActive="active" class="item">
        <mat-icon class="svg-icon" svgIcon="user-plus"></mat-icon>
        <span>Indicações</span>
    </a>
</nav>


