@use './../../../../assets/styles/variables.scss' as v;
@use './../../../../assets/styles/mixins.scss' as mix;

$widthImg: 30px;
$space: 16px;
$btn-radius: 6px;
$header-height: 48px;
$widthPage: 940px;
$radiusImg: 6px;

.comment {
    display: flex;
    align-items: center;
    gap: 15px;

    @include mix.mq("tablet-small", max) {
        flex-direction: column;
        justify-content: center;
        align-items: baseline;

        .comment-info {
            width: 100%;
        }
    }

    &-title {
        font-size: 16px;
        font-weight: 300;
        display: block;
        padding: 16px;
    }

    &-userImg {
        color: v.$light-text;
        text-transform: uppercase;
        border-radius: 50%;
        background-color: v.$primary-700;
        @include mix.square($widthImg);
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

    &-info {
        font-size: 14px;
        line-height: 16px;
        background-color: v.$light-text;
        border-radius: $btn-radius;
        padding: 16px;
        width: calc(100% - #{$widthImg} - 14px);
        margin-left: auto;
        position: relative;
        border: 1px solid v.$medium-active;
        margin-top: 10px;

        &:before {
            content: "";
            display: inline-block;
            width: 0;
            height: 0;
            position: absolute;
            left: -6px;
            top: 8px;
            border-top: 6px solid transparent;
            border-bottom: 6px solid transparent;
            border-right: 6px solid v.$medium-active;
        }

        p {
            color: v.$dark !important;
            font-weight: 600;
            font-size: 13px;
        }
    }

    &-userName {
        font-size: 10px;
        color: v.$primary-700;
        font-weight: bold;
        display: inline-block;
        text-transform: capitalize;
    }

    &-time {
        font-size: 10px;
        color: v.$medium;

        &:before {
            content: "-";
            margin-left: 4px;
        }
    }

    &-img {
        width: $widthImg;
        margin-top: 12px;
        margin-right: auto;

        img {
            border-radius: 50%;
        }
    }
}